<fieldset>
  <div class="form-field half-width">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field half-width">
    <%= f.label :field_type %>
    <%= f.select :field_type, ScoringField::SCORING_FIELD_TYPES  %>
  </div>

  <div class="form-field range-min-max" style="<% if !f.object.range? %>display:none;<% end %>">
    <label>Range min and max</label><br>
    <%= f.number_field :range_min, class: "third-width" %> to <%= f.number_field :range_max, class: "third-width" %>
  </div>

  <div class="form-field options-list" style="<% if !f.object.set? %>display:none;<% end %>">
    <%= f.label :options_list %> <span>(comma-separated)
    <%= f.text_area :options_list, placeholder: "Low Bar, Rough Terrain, Moat" %>
  </div>

  <div class="form-field">
    <%= f.hidden_field :_destroy %>
    <%= link_to "[remove]", "#", class: "remove_field" %>
  </div>
</fieldset>
