<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>

  <%= f.label :field_type %>
  <%= f.select :field_type, ScoringField::SCORING_FIELD_TYPES  %>

  <br>

  <label>Range min and max</label><br>
  <%= f.number_field :range_min %> to <%= f.number_field :range_max %>

  <br>

  <%= f.label :options_list %>
  <%= f.text_field :options_list %>

  <%= f.hidden_field :_destroy %>
  <%= link_to "[remove]", "#", class: "remove_field" %>
</fieldset>
