<%= form_for(@game) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>

  <%= f.label :year %>
  <%= f.number_field :year %>

  <% if !@game.fields.empty? %>
    <hr>
    <label>Fields</label>

    <%= f.fields_for :fields do |builder| %>
      <%= render 'field_fields', f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_fields "Add Scoring Field", f, :fields %>

  <%= f.submit %>
<% end %>
