<h1>All Scoring Entries for <%= @game.name %></h1>
<p>
  <%= link_to "Download as CSV file", entries_game_path(@game, format: "csv") %>
</p>
<table>
  <thead>
    <tr>
      <% @game.fields_for_csv.each do |field_name| %>
        <th><%= field_name %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <% @entries.each do |entry| %>
    <tr>
      <% entry.properties_for_csv.each do |prop| %>
        <td><%= prop %></td>
      <% end %>
      <td>
        <%= link_to "[edit]", edit_scoring_entry_path(entry) %> |
        <%= link_to "[delete]", scoring_entry_path(entry), method: "delete", data: { confirm: "Delete scoring entry?" } %>
      </td>
    </tr>
  <% end %>
</table>
