<h1>Scoring Entries for <%= @game.name %></h1>
<p>
  <%= link_to "Download as CSV file", entries_game_path(@game, format: "csv") %>
</p>
<table>
  <thead>
    <tr>
      <th>Match Number</th>
      <th>Team Number</th>
      <% @game.fields.each do |field| %>
        <th><%= field.name.humanize %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <% @game.entries.each do |entry| %>
    <tr>
      <td><%= entry.match_number %></td>
      <td><%= entry.team_number %></td>
      <% @game.fields.each do |field| %>
        <% if entry.properties[field.name].is_a?(Hash) %>
          <td><%= keys_with(entry.properties[field.name], "1") %></td>
        <% else %>
          <td><%= entry.properties[field.name] %></td>
        <% end %>
      <% end %>
      <td>
        <%= link_to "[edit]", edit_scoring_entry_path(entry) %> |
        <%= link_to "[delete]", scoring_entry_path(entry), method: "delete", data: { confirm: "Delete scoring entry?" } %>
      </td>
    </tr>
  <% end %>
</table>
