<h1>Games index</h1>
<%= link_to 'New Game', new_game_path %>
<% @games.each do |game| %>
  <h3>
    <%= game.name %>
    <small>
      <%= game.year %>
      <%= link_to "[edit]", edit_game_path(game) %> |
      <%= link_to "[delete]", game_path(game), method: :delete, data: { confirm: "Are you sure you want to delete this game?" } %>
    </small>
  </h3>

  <p><%= link_to "See Scoring Entries", game_path(game) %></p>

  <% if !game.fields.empty? %>
    <br>
    <label>Fields:</label>
    <ul>
      <% game.fields.each do |field| %>
        <li>
          <%= field.name %> (<%= field.field_type %>)
          <% if field.field_type == 'range' %>
            [<%= field.range_min %> - <%= field.range_max %>]
          <% end %>

          <% if !field.options.empty? %>
            <br>
            <label>options: </label>
            <%= field.options.join(", ") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if game.created_at != @games.last.created_at %>
    <hr>
  <% end %>
<% end %>
