<h1><%= @game.name %> <small><%= @game.year %> <%= link_to "[edit]", edit_game_path(@game) %></small></h1>

<% if !@game.fields.empty? %>
  <label>Fields:</label>
  <ul>
    <% @game.fields.each do |field| %>
      <li>
        <%= field.name %> (<%= field.field_type %>)
        <% if field.field_type == 'range' %>
          [<%= field.range_min %> - <%= field.range_max %>]
        <% end %>

        <% if !field.options.empty? %>
          <br>
          <label>options: </label>
          <%= field.options.join(", ") %> <br>
          <label>options initials: </label>
          <%= field.option_initials %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
