<h1><%= @game.name %> <small><%= @game.year %> <%= link_to "[edit]", edit_game_path(@game) %></small></h1>

<% if !@game.fields.empty? %>
  <label>Fields:</label>
  <ul>
    <% @game.fields.each do |field| %>
      <li><%= field.name %> (<%= field.field_type %>)</li>
    <% end %>
  </ul>
<% end %>
