<!DOCTYPE html>
<html>
<head>
  <title>Team3303Scouting</title>
  <meta name="viewport" content="width=content-width, initial-scale=1, user-scalable=false">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="main-nav">
    <div class="container">
      <div class="nav-head">
        <%= link_to root_path, class: 'nav-head__logo' do %>
          <strong>Scouting App</strong>
        <% end %>
        <% if logged_in? %>
          <span class="nav-head__user">
            <i class="material-icons">&#xE7FD;</i>
            <%= current_user.username %>
          </span>
        <% end %>
      </div>

      <ul class="nav-links">
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Games", games_path %></li>
          <% end %>
          <% if current_game %>
            <li><%= link_to "New Scoring Entry", new_scoring_entry_path %></li>
          <% end %>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div id="main">
    <div class="container">

      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <br>
      <% end %>

      <%= yield %>

    </div>
  </div>

</body>
</html>
