<!DOCTYPE html>
<html>
<head>
  <title>Team3303Scouting</title>
  <meta name="viewport" content="width=content-width, initial-scale=1, user-scalable=false">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main">
    <div class="container-full">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <br>
      <% end %>

      <p><%= link_to "< Back to Main Site", :back %></p>

      <%= yield %>
    </div>
  </div>

</body>
</html>
